<launch>

    <arg name="data_dir"   default="/home/paolo/bci_vr_ws/test_node_data"/>
    <arg name="out_dir"    default="$(arg data_dir)/rosneuro_filters_car"/>
    <arg name="samplerate" default="500"/>
    <arg name="chunkSize"  default="25"/>
    <arg name="framerate"  default="20"/>

    <!-- CAR node -->
    <node name="car_node" pkg="rosneuro_filters_car" type="test_car_node_rosneuro_filters_car" output="screen">
        <rosparam param="EOG_ch_names">['Fp1', 'Fp2']</rosparam>
        <param name="topic_out" value="/car_output"/>
    </node>

    <!-- Logger -->
    <node pkg="rosneuro_filters_car" type="test_logger_car_rosneuro_filters_car"
          name="car_logger" output="screen">
        <param name="output_filename" value="$(arg out_dir)/car_processing.csv"/>
        <param name="topic"           value="/car_output"/>
    </node>

    <!-- CSV publisher -->
    <node pkg="rosneuro_filters_car" type="test_publisher_rosneuro_filters_car"
          name="car_publisher" output="screen">
        <param name="csv_file"    value="$(arg data_dir)/raw_eeg_32ch.csv"/>
        <param name="chunk_size"  value="$(arg chunkSize)"/>
        <param name="sample_rate" value="$(arg samplerate)"/>
    </node>

</launch>
